<div class="modal-header">
  <h2 mat-dialog-title>{{ $isEdit() ? 'Editar Usuario' : 'Nuevo Usuario' }}</h2>
  <button mat-icon-button (click)="cancel()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-dialog-content>
  <form [formGroup]="$form()" id="usuarioForm" class="form-container">

    <div class="form-grid">
      <mat-form-field appearance="outline">
        <mat-label>Nombres</mat-label>
        <input matInput formControlName="nombre" placeholder="Nombre">
        @if ($form().get('nombre')?.hasError('required')) {
          <mat-error>El nombre es obligatorio</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Apellidos</mat-label>
        <input matInput formControlName="apellido" placeholder="Apellido">
        @if ($form().get('apellido')?.hasError('required')) {
          <mat-error>El apellido es obligatorio</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Usuario (Username)</mat-label>
        <input matInput formControlName="username" placeholder="Ej. jperez">
        @if ($form().get('username')?.hasError('required')) {
          <mat-error>El username es obligatorio</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" formControlName="password" placeholder="Contraseña">
        @if ($form().get('password')?.hasError('required')) {
          <mat-error>La contraseña es obligatoria</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" placeholder="correo@ejemplo.com">
        @if ($form().get('email')?.hasError('email')) {
          <mat-error>Formato de correo inválido</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Rol de Usuario</mat-label>
        <mat-select formControlName="idRol">
          @for (r of roles(); track r.idRol) {
            <mat-option [value]="r.idRol">{{ r.nombre }}</mat-option>
          }
        </mat-select>
        @if ($form().get('idRol')?.hasError('required')) {
          <mat-error>El rol es obligatorio</mat-error>
        }
      </mat-form-field>
    </div>

    <mat-checkbox formControlName="estado">Activo</mat-checkbox>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-flat-button type="button" (click)="cancel()">
    <mat-icon>cancel</mat-icon>
    <span>Cancelar</span>
  </button>
  <button mat-flat-button type="button" (click)="operate()" [disabled]="$form().invalid">
    <mat-icon>done</mat-icon>
    <span>{{ $isEdit() ? 'Actualizar' : 'Guardar' }}</span>
  </button>
</mat-dialog-actions>