<router-outlet></router-outlet>

<mat-form-field>
  <mat-label>Buscar Usuarios</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ej. Admin o Nombre" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="$dataSource()" matSort>

    <ng-container matColumnDef="idUsuario">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let row"> {{row.idUsuario}} </td>
    </ng-container>

    <ng-container matColumnDef="fullName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE COMPLETO </th>
      <td mat-cell *matCellDef="let row"> {{row.fullName}} </td>
    </ng-container>

    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> USUARIO (USERNAME) </th>
      <td mat-cell *matCellDef="let row"> {{row.username}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> EMAIL </th>
      <td mat-cell *matCellDef="let row"> {{row.email || '-'}} </td>
    </ng-container>

    <ng-container matColumnDef="nombreRol">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ROL </th>
      <td mat-cell *matCellDef="let row">
        <span class="badge badge-rol">
          {{row.nombreRol}}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ESTADO </th>
      <td mat-cell *matCellDef="let row"> {{row.estado ? 'Activo' : 'Inactivo'}} </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> ACCIONES </th>
      <td mat-cell *matCellDef="let row">
        <button mat-flat-button [routerLink]="['edit', row.idUsuario]">
          <span>Editar</span>
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-flat-button color="warn" (click)="delete(row.idUsuario)">
          <span>Eliminar</span>
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="7">No se encontraron usuarios para "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Seleccionar página"></mat-paginator>

  <button mat-fab style="float: right; margin: 16px;" routerLink="new">
    <mat-icon>person_add</mat-icon>
  </button>
</div>
